BASE_URL=https://contact-apps-api.ainunns.me
BEARER_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6Ijg2ZGMyMmU2LTE4MTktNDM4Yy04ZTMxLWYwYjFlZTgwYTZmYSIsIm5hbWUiOiJBcnN5YXR5YSBBbGFhdWRkaW4iLCJlbWFpbCI6IjUwMjcyMzEwODJAc3R1ZGVudC5pdHMuYWMuaWQiLCJpYXQiOjE3MjY4NTE1NzUsImV4cCI6MTcyOTQ0MzU3NX0.lyLQmPQsxr5CnBMADBDz2GulDq1p5z8PDKcoY7oGXSc